distributed-application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
   xmlns:xs="http://www.w3.org/2001/XMLSchema"
   attributeFormDefault="unqualified"
   elementFormDefault="qualified">

   <xs:include schemaLocation="distributed-application-common.xsd" />
   <xs:include schemaLocation="distributed-application-automaton.xsd" />

   <xs:simpleType name="enumType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="boolean" />
         <xs:enumeration value="byte" />
         <xs:enumeration value="short" />
         <xs:enumeration value="ushort" />
         <xs:enumeration value="int" />
         <xs:enumeration value="uint" />
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="literalType">
      <xs:attribute type="enumLiteral" name="name" use="required" />
   </xs:complexType>

   <xs:complexType name="enumerationType">
      <xs:sequence>
         <xs:element type="literalType" name="literal" maxOccurs="unbounded" minOccurs="1" />
      </xs:sequence>
      <xs:attribute type="xs:ID"    name="name" use="required" />
      <xs:attribute type="enumType" name="type" use="optional" default="byte"/>
   </xs:complexType>
   
   <xs:simpleType name="fieldtypeType">
      <xs:restriction base="xs:string">
         <xs:enumeration value="boolean" />
         <xs:enumeration value="byte" />
         <xs:enumeration value="short" />
         <xs:enumeration value="ushort" />
         <xs:enumeration value="int" />
         <xs:enumeration value="uint" />
         <xs:enumeration value="long" />
         <xs:enumeration value="ulong" />
         <xs:enumeration value="float" />
         <xs:enumeration value="double" />
         <xs:enumeration value="string" />
         <xs:enumeration value="enum" />
         <xs:enumeration value="struct" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="dottedPath">
      <xs:restriction base="xs:string">
         <xs:pattern value="[^.]+\.[^.]+" />
      </xs:restriction>
   </xs:simpleType>
   
   <xs:complexType name="fieldType">
      <xs:attribute type="argumentName"       name="name"         use="required" />
      <xs:attribute type="fieldtypeType"      name="type"         use="required" />
      <xs:attribute type="dottedPath"         name="userType"     use="optional" />
      <xs:attribute type="xs:positiveInteger" name="length"       use="optional" />
      <xs:attribute type="xs:string"          name="description"  use="optional" />
   </xs:complexType>

   <xs:complexType name="structType">
      <xs:sequence>
         <xs:element type="fieldType" name="field" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute type="xs:ID" name="name" use="required" />
   </xs:complexType>
   
   <xs:complexType name="argumentsType">
      <xs:sequence>
         <xs:element type="fieldType" name="field" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>

   <xs:simpleType name="queuingPolicy">
      <xs:restriction base="xs:string">
         <xs:enumeration value="queued" />
         <xs:enumeration value="activating" />
         <xs:enumeration value="immediate" />
      </xs:restriction>
   </xs:simpleType>

   <xs:simpleType name="threadingPolicy">
      <xs:restriction base="xs:string">
         <xs:enumeration value="shared" />
         <xs:enumeration value="dedicated" />
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="eventType">
      <xs:sequence>
         <xs:element type="fieldType" name="field" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute type="facetName"       name="name"             use="required" />
      <xs:attribute type="queuingPolicy"   name="queuing-policy"   use="optional" default="activating"/>
      <xs:attribute type="threadingPolicy" name="threading-policy" use="optional" default="shared"/>
   </xs:complexType>
   
   <xs:complexType name="requestType">
      <xs:sequence>
         <xs:element type="argumentsType" name="arguments" minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute type="facetName"       name="name"             use="required" />
      <xs:attribute type="dottedPath"      name="type"             use="required" />
      <xs:attribute type="queuingPolicy"   name="queuing-policy"   use="optional" default="activating"/>
      <xs:attribute type="threadingPolicy" name="threading-policy" use="optional" default="shared"/>
      <xs:attribute type="xs:string"       name="description"      use="optional" />
   </xs:complexType>

   <xs:complexType name="dataType">
      <xs:attribute type="facetName"       name="name"             use="required" />
      <xs:attribute type="dottedPath"      name="type"             use="required" />
      <xs:attribute type="queuingPolicy"   name="queuing-policy"   use="optional" default="activating"/>
      <xs:attribute type="threadingPolicy" name="threading-policy" use="optional" default="shared"/>
      <xs:attribute type="xs:string"       name="description"      use="optional" />
   </xs:complexType>

   <xs:complexType name="interfaceType">
      <xs:sequence>
         <xs:choice maxOccurs="unbounded">
            <xs:element type="eventType"   name="event" />
            <xs:element type="requestType" name="request" />
            <xs:element type="dataType"    name="data" />
         </xs:choice>
      </xs:sequence>
      <xs:attribute type="xs:ID" name="name" use="required" />
   </xs:complexType>

   <xs:complexType name="offeredInterfaceUsageType">
      <xs:attribute type="xs:IDREF" name="interface" use="required" />
   </xs:complexType>
   
   <xs:complexType name="requiredInterfaceUsageType">
      <xs:attribute type="xs:IDREF" name="interface" use="required" />
   </xs:complexType>
   
   <xs:simpleType name="durationUnits">
      <xs:restriction base="xs:string">
         <xs:enumeration value="days" />
         <xs:enumeration value="hours" />
         <xs:enumeration value="minutes" />
         <xs:enumeration value="seconds" />
         <xs:enumeration value="milliseconds" />
      </xs:restriction>
   </xs:simpleType>

   <xs:complexType name="timeoutType">
      <xs:attribute type="argumentName"       name="name"     use="required" />
      <xs:attribute type="xs:positiveInteger" name="duration" use="required" />
      <xs:attribute type="durationUnits"      name="unit"     use="optional" default="seconds" />
   </xs:complexType>
   
   <xs:complexType name="componentType">
      <xs:sequence>
         <xs:element type="offeredInterfaceUsageType"  name="offers"         minOccurs="0" maxOccurs="unbounded" />
         <xs:element type="requiredInterfaceUsageType" name="requires"       minOccurs="0" maxOccurs="unbounded" />
         <xs:element type="timeoutType"                name="timeout"        minOccurs="0" maxOccurs="unbounded" />
         <xs:element type="automatonType"              name="automaton"      minOccurs="0" maxOccurs="1" />
      </xs:sequence>
      <xs:attribute type="xs:ID" name="name" use="required" />
   </xs:complexType>
   
   <xs:complexType name="fromInstanceType">
      <xs:attribute type="instanceID" name="name" use="required" />
   </xs:complexType>
   
   <xs:complexType name="requiresType">
      <xs:sequence>
         <xs:element type="fromInstanceType" name="from-instance" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute type="xs:IDREF" name="interface" use="required" />
   </xs:complexType>

   <xs:complexType name="instanceType">
      <xs:sequence>
         <xs:element type="requiresType" name="requires" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute type="instanceID" name="name"      use="required" />
      <xs:attribute type="xs:IDREF"   name="component" use="required" />
   </xs:complexType>

   <xs:complexType name="processType">
      <xs:sequence>
         <xs:element type="instanceType" name="instance" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute type="processName"    name="name"    use="required" />
   </xs:complexType>

   <xs:complexType name="deploymentType">
      <xs:sequence>
         <xs:element type="processType" name="process" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute type="deploymentName" name="name" use="required" />
   </xs:complexType>

   <xs:element type="deploymentType" name="deployment">
      <xs:unique name="instance-name">
         <xs:selector xpath=".//process/instance"/>
         <xs:field xpath="./@name"/>
      </xs:unique>
      <xs:keyref name="requiresFrom" refer="instance-name">
         <xs:selector xpath=".//deployment/process/instance/requires/from-instance"/>
         <xs:field xpath="./@name"/>
      </xs:keyref>
   </xs:element>
   
   <xs:complexType name="typesType">
      <xs:sequence>
         <xs:element type="enumerationType" name="enumeration" minOccurs="0" maxOccurs="unbounded" />
         <xs:element type="structType"      name="struct"      minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
      <xs:attribute type="xs:ID" name="name" />
   </xs:complexType>

   <xs:complexType name="disappType">
      <xs:sequence>
         <xs:element type="typesType"       name="types"      minOccurs="0" maxOccurs="unbounded" />
         <xs:element type="interfaceType"   name="interface"  minOccurs="1" maxOccurs="unbounded" />
         <xs:element type="componentType"   name="component"  minOccurs="1" maxOccurs="unbounded" />
         <xs:element                        ref ="deployment" minOccurs="1" maxOccurs="unbounded" />
      </xs:sequence>
   </xs:complexType>

   <xs:element name="distributed-application" type="disappType">

      <xs:unique name="deployment-name">
         <xs:selector xpath=".//deployment"/>
         <xs:field xpath="./@name"/>
      </xs:unique>

      <xs:unique name="component-name">
         <xs:selector xpath=".//component"/>
         <xs:field xpath="./@name"/>
      </xs:unique>

      <xs:unique name="enum-name">
         <xs:selector xpath=".//enumeration"/>
         <xs:field xpath="./@name"/>
      </xs:unique>

      <xs:unique name="literal-name">
         <xs:selector xpath="./enum/literal"/>
         <xs:field xpath="./@name"/>
      </xs:unique>

      <xs:unique name="struct-name">
         <xs:selector xpath=".//struct"/>
         <xs:field xpath="./@name"/>
      </xs:unique>

      <xs:unique name="interface-name">
         <xs:selector xpath=".//interface"/>
         <xs:field xpath="./@name"/>
      </xs:unique>

      <xs:keyref name="response" refer="interface-name">
         <xs:selector xpath=".//interface/event"/>
         <xs:field xpath="./@response"/>
      </xs:keyref>

      <xs:keyref name="offers" refer="interface-name">
         <xs:selector xpath=".//component/offers"/>
         <xs:field xpath="./@interface"/>
      </xs:keyref>

      <xs:keyref name="requires" refer="interface-name">
         <xs:selector xpath=".//component/requires"/>
         <xs:field xpath="./@interface"/>
      </xs:keyref>

      <xs:keyref name="instance" refer="component-name">
         <xs:selector xpath=".//deployment/instance"/>
         <xs:field xpath="./@component"/>
      </xs:keyref>
      
      <xs:keyref name="deployed-instance-requires-interface" refer="interface-name">
         <xs:selector xpath=".//deployment/instance/requires"/>
         <xs:field xpath="./@interface"/>
      </xs:keyref>
      
      <xs:keyref name="deployed-instance-requires-instance" refer="instance-name">
         <xs:selector xpath=".//deployment/instance/requires"/>
         <xs:field xpath="./@to-instance"/>
      </xs:keyref>

   </xs:element>

</xs:schema>